#section4{
    z-index: 3;
    background-color: #1f2635;
    flex-direction: column;
    align-items: center;
    padding-top: 15vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    position: relative;

    .sec4-text-box{
        font-family: "netmarble";
        color: #b7cbe3;
        text-align: center;
    }

    .sec4-title-box{
        font-family: "SwisspoTrial-CondBlackTall";
        font-size: 20vw;
        color: #b7cbe3;
    }
    .sec4-title2-box{
        font-size: 1vw;
        font-family: "netmarble";
        text-align: center;
        color: #b7cbe3;
    }
    .sign{
        height: 400px;
        font-family: "Grypen";
        font-size: 10vw;
        line-height: 0.4;
    }
}

.comment-box{
    margin: 10px;
    width: 400px;
    height: 500px;
    background-color: #fff;
}