@import url('https://font.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://font.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://websfont.github.io/websfont/websfont.css');
@import url('https://websfont.github.io/netmarble/netmarble.css');

@font-face {
    font-family: 'GmarketSans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AT Arges Black Condensed';
    src: url('../fonts/AT\ Arges\ Black\ Condensed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPMori';
    src: url('../fonts/PPMori-Extralight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PPMori';
    src: url('../fonts/PPMori-Regular.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'PPMori';
    src: url('../fonts/PPMori-SemiBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PPEdit';
    src: url('../fonts/PPEditorialNew-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PPEdit';
    src: url('../fonts/PPEditorialNew-Ultralight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}



@font-face {
    font-family: 'Grypen';
    src: url('../fonts/QwitcherGrypen-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZenDots';
    src: url('../fonts/ZenDots-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Iropke';
    src: url('../fonts/IropkeBatangM.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoGeoTrial-Light';
    font-weight: normal;
    font-style: normal;
    src: url('../font/NeoGeoTrial-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'NeoGeoTrial-Thin';
    font-weight: normal;
    font-style: normal;
    src: url('../font/NeoGeoTrial-Thin.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SwisspoTrial-CondBlackTall';
    font-weight: normal;
    font-style: normal;
    src: url('../font/SwisspoTrial-CondBlackTall.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SwisspoTrial-CondThinTall';
    font-weight: normal;
    font-style: normal;
    src: url('../font/SwisspoTrial-CondThinTall.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SwisspoTrial-SmCnThTallIt';
    font-weight: normal;
    font-style: normal;
    src: url('../font/SwisspoTrial-SmCnThTallIt.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SwisspoTrial-SemiCondThin';
    font-weight: normal;
    font-style: normal;
    src: url('../font/SwisspoTrial-SemiCondThin.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'ExtraCondThinIta';
    font-weight: normal;
    font-style: normal;
    src: url('../font/SwisspoTrial-ExtraCondThinIta.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Black';
    font-weight: normal;
    font-style: normal;
    src: url('../font/SwisspoTrial-Black.woff2') format('woff2');
    font-display: swap;
}


@font-face {
    font-family: 'CondensedMedium';
    font-weight: normal;
    font-style: normal;
    src: url('../font/SwisspoTrial-CondensedMedium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'CondensedLight';
    font-weight: normal;
    font-style: normal;
    src: url('../font/SwisspoTrial-CondensedLight.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'IropkeBatang';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.ttf') format("truetype");
    font-display: swap;
}
